#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/utils.mk

# only enable jack on i386 and powerpc (See #406754)
ifeq (i386,$(DEB_HOST_ARCH))
WITH_JACK_CONFFLAG := --with-jack=yes
else
 ifeq (powerpc,$(DEB_HOST_ARCH))
WITH_JACK_CONFFLAG := --with-jack=yes
 else
  ifeq (amd64,$(DEB_HOST_ARCH))
WITH_JACK_CONFFLAG := --with-jack=yes
  else
WITH_JACK_CONFFLAG := --with-jack=no
  endif
 endif
endif

DEB_CONFIGURE_EXTRA_FLAGS := $(WITH_JACK_CONFFLAG) \
                             --enable-unicode \
                             --with-expat=system \
                             --with-libflac=system \
                             --with-libid3tag=system \
                             --with-libmad=system \
                             --with-libsamplerate=system \
                             --with-libsndfile=system \
                             --with-libtwolame=system \
                             --with-libvorbis=system \
                             --without-portmixer \
                             --with-portaudio=v19 \
                             --with-soundtouch=system

DEB_COMPRESS_EXCLUDE := *.htb

binary-post-install/audacity-data::
	# Don't package unnecessary copy of GPL
	rm -f debian/audacity-data/usr/share/doc/audacity-data/LICENSE.txt

clean::
	rm -f lib-src/libpormixer.a
